{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav{
   
    padding: 30px ;
    align-items: center;

    background-color: #6e6c6c;
    
     
}
.brand{
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.brand img{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
height: 50px;

}

nav ul li{
    
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: -8px 27px;
    float: right;
}



nav ul li a{
text-decoration: none;
color: rgb(252, 252, 252);
font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}
.detail div{
    font-size: 25px;
    float: right;
    align-items: right;
    margin-right: 100px;
    color:rgb(8, 8, 160);
    -webkit-text-stroke-width: 2px;
    -webkit-text-stroke-color: rgb(15, 0, 0);


}
.detail h1{
    font-size: 30px;
    color: #fffdfd;
    float: right;
    align-items: center;
    margin-right: 100px ;
    -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: rgb(15, 0, 0);
}

  .buttons{
    width:20px;
    height:20px;
   margin-left: 1200px;
  margin-top: 100px;
  text-decoration: none;
}
