{
    margin: 0;
    padding: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


nav{
   
    padding: 30px ;
    align-items: center;

    background-color: #6e6c6c;
    
     
}
.brand{
    float: left;
    display: inline-block;
    vertical-align: middle;
}
.brand img{
    margin-left: 15px;
    display: inline-block;
    vertical-align: middle;
height: 50px;

}

nav ul li{
    
    display: inline-block;
    vertical-align: middle;
    list-style: none;
    margin: -8px 27px;
    float: right;
}



nav ul li a{
text-decoration: none;
color: rgb(252, 252, 252);
font-weight: bold;
}

nav ul li a:hover{
    color: blue;
}

#portfolio {
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.9);
    color: white;
    padding: 20px;
    align-items: center;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    box-sizing: border-box;
}

.gallery img {
    width: 400px;
    height: 380px;
    margin: 10px;
}